<h1 class="h">E Commerce</h1>
<div class="container">
<div class="parent">
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgs.search.brave.com/SWQMDQJGoT0iXQc6l9A2YwgFMh4eB8RxYmSt98lsoco/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/ODM5ODU5ODgzNTUt/NzYzNzI4ZTE5MzVi/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TW54OGMy/aHZjSEJwYm1kOFpX/NThNSHg4TUh4OGZE/QT0.jpeg"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/_B3ZEuofwr-9jqD6O-vMctMCn0PAyCZ9r63a5eJ4_-U/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/YmxpdHpyZXN1bHRz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/bWVuLWNsb3RoaW5n/LXNpemVzLmpwZw" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/ZT8Anw_9cVl3RF2BhehciSgvZsVgoLV-PoDgTOqnsCg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NTU1Mjk2NjktZTY5/ZTdhYTBiYTlhP3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4Tm54OGMyaHZj/SEJwYm1kOFpXNThN/SHg4TUh4OGZEQT0.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>